@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="~/Styles/IndexStyles.css">
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <title></title>
    </head>
    
    <body>

        <!--HEADER SECTION-------------------------------------------------------------------------->
        @RenderPage("~/Header.cshtml")
   
        <!--BANNER SECTION-------------------------------------------------------------------------->
        <div id="banner">
            <div id="wrapper">
                <div id="container">
                    <img class="banner-img" src="Resources/Landing/Banner.jpg" alt="LANDING HOUSE"/>
                </div>
            </div>
        </div>
        <!--WELCOME SECTION------------------------------------------------------------------------->
        <div>
            <div>
                <h1>BIENVENIDO A RUASA</h1>
            </div>
            <ul id="welcome">
                <li>
                    <a href="~/Account/Register">
                        <img alt="facebook" src="Resources/General/facebook.png">
                    </a>
                    <a href="~/Account/Register">
                        <img alt="facebook" src="Resources/General/instagram.png">
                    </a>
                    <a href="~/Account/Register">
                        <img alt="facebook" src="Resources/General/twitter.png">
                    </a>
                    <a href="~/Account/Register">
                        <img alt="facebook" src="Resources/General/linkedin.png">
                    </a>
            </ul>  
        </div>
        <hr>
        <div>
            <h2 id="flashing-text">Bienes Raíces y Servicios de Relocation</h2>
        </div>
        <hr>
        <!--INFORMATION SECTION--------------------------------------------------------------------->
        <div class="ruasa-info-container">
             <div id="info-left">
                <p>"Best of the best places, properties, blabla blala,
                cars, houses, best places."</p>
            </div>

            <div id="info-right">
                <p>Operation Copperhead was a small military deception operation 
                    run by the British during the Second World War. Conceived by 
                    Dudley Clarke, it was intended to mislead German intelligence 
                    as to the location of General Bernard Montgomery (pictured) 
                    just before the 1944 invasion of Normandy. The German high 
                    command expected Montgomery, one of the best-known Allied 
                    commanders, to play a key role in any cross-channel bridgehead.
                    Clarke and the other deception planners reasoned that a high-profile
                    appearance outside England would suggest that an Allied invasion 
                    was not imminent. An appropriate look-alike was found, M. E. 
                    Clifton James, who spent a short time with Montgomery to familiarise
                     himself with the general's mannerisms. On 26 May, James flew to 
                    Gibraltar and then to Algiers, making appearances where the Allies
                     knew German intelligence agents would spot him, but the operation
                     did not appear to have any significant impact on German plans. 
                </p>
            </div>        
        </div>
        <!--LOCATIONS SECTION----------------------------------------------------------------------->
        
        <div id="location-title">
            <div>
                <h1>NUESTRAS UBICACIONES</h1>
            </div>
        </div>
        <!--TEST TEST TEST TEST TEST TEST-------------------------------------------------------TEST-->
        <ul class="photo-grid">
	        <li>
		        <a href="~/Inventory">
			        <figure>
				        <img src="Resources/Landing-Examples/VR.jpg" height="180" width="320" alt="Vista Real">
				        <figcaption><p>Vista Real</p></figcaption>
			        </figure>
		        </a>
	        </li>
	        <li>
		        <a href="~/Inventory">
			        <figure>
				        <img src="Resources/Landing-Examples/Condado.jpg" height="180" width="320" alt="Condado">
				        <figcaption><p>Condado</p></figcaption>
			        </figure>
		        </a>
	        </li>
	        <li>
		        <a href="~/Inventory">
			        <figure>
				        <img src="Resources/Landing-Examples/Condado.jpg" height="180" width="320" alt="Condado">
				        <figcaption><p>Condado</p></figcaption>
			        </figure>
		        </a>
	        </li>
            <li>
		        <a href="~/Inventory">
			        <figure>
				        <img src="Resources/Landing-Examples/Condado.jpg" height="180" width="320" alt="Condado">
				        <figcaption><p>Condado</p></figcaption>
			        </figure>
		        </a>
	        </li>
            <li>
		        <a href="~/Inventory">
			        <figure>
				        <img src="Resources/Landing-Examples/Condado.jpg" height="180" width="320" alt="Condado">
				        <figcaption><p>Condado</p></figcaption>
			        </figure>
		        </a>
	        </li>
            <li>
		        <a href="~/Inventory">
			        <figure>
				        <img src="Resources/Landing-Examples/Condado.jpg" height="180" width="320" alt="Condado">
				        <figcaption><p>Condado</p></figcaption>
			        </figure>
		        </a>
	        </li>
        </ul>
        <hr>
        <!--CONTACT BUTTON SECTION------------------------------------------------------------------>
        <div id="Greeting">
            <h1>¿Buscando Rentar, Vender, Comprar o Reubicarse?</h1>
            <h1>Déjenos conocer su propiedad y platicar sobre sus opciones</h1>
            <a class="button-contact" type="button" href="~/Contact.cshtml"><span>Contáctenos</span></a>
        </div>
        <!--FOOTER SECTION-------------------------------------------------------------------------->
        @RenderPage("Footer.cshtml")
    </body>
</html>
