@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>RUASA - Relocation</title>
        <link rel="stylesheet" type="text/css" href="Styles/NavBar.css">
        <link rel="stylesheet" type="text/css" href="Styles/RelocationStyles.css">
    </head>
    <body>
        <!--HEADER SECTION-------------------------------------------------------------------------->
        @RenderPage("~/Header_EN.cshtml")    
        
        <!--TOPICS SECTION-------------------------------------------------------------------------->
        <div id="reloc-topics">
            <div id="wrapper">
                <div id="container">
                    <ul class="relocation-offer">
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/settling.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Settling In</h1>
                                </div>
                                <hr>
                                <div>                                    
                                    <ul id="offer-detail">
                                        <li>Welcome Kit</li>
                                        <li>Car rental/purchase assistance</li>                                        
                                        <li>Mexican food workshop with guided visit to the market</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/look.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Look & See</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Introduction to Queretaro</li>                                        
                                        <li>Real state overview and orientation</li>                                        
                                        <li>Schools</li>
                                        <li>Gym</li>
                                        <li>Sports club</li>
                                        <li>Cost of life</li>
                                        <li>Amusement & leisure</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/housing.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Housing</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Find your ideal home according to your budget and needs</li>                                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/management.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Home Management</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Payment of services</li>   
                                        <li>Rent</li>        
                                        <li>Housekeeping</li>        
                                        <li>Others</li>                                             
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/visa.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Visa and Formalities</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Assistance for legal permits and residence</li>                                              
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/family.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Family Support</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Schools</li>        
                                        <li>Day Care</li>
                                        <li>Admissions</li>   
                                        <li>Enrollment</li>
                                        <li>Payment</li>                                   
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/departure.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Departure</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Wrapping up</li>        
                                        <li>Early/normal finalizing of rent contract</li>
                                        <li>Down payments</li>   
                                        <li>Service cancelations</li>                                                                           
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--FOOTER SECTION-------------------------------------------------------------------------->
        @RenderPage("Footer.cshtml")
    </body>
</html>
