@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>RUASA - Relocation</title>
        <link rel="stylesheet" type="text/css" href="Styles/NavBar.css">
        <link rel="stylesheet" type="text/css" href="Styles/RelocationStyles.css">
    </head>
    <body>
        <!--HEADER SECTION-------------------------------------------------------------------------->
        @RenderPage("~/Header.cshtml")    
        
        <!--TOPICS SECTION-------------------------------------------------------------------------->
        <div id="reloc-topics">
            <div id="wrapper">
                <div id="container">
                    <ul class="relocation-offer">
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/settling.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Bienvenida</h1>
                                </div>
                                <hr>
                                <div>                                    
                                    <ul id="offer-detail">
                                        <li>Kit de bienvenida</li>
                                        <li>Asistencia de compra o renta de auto</li>                                        
                                        <li>Taller de comida mexicana con visita guiada al mercado</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/look.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Look & See</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Introducción a Querétaro</li>                                        
                                        <li>Orientación acerca de bienes raíces</li>                                        
                                        <li>Escuelas</li>
                                        <li>Gimnasio</li>
                                        <li>Clubes deportivos</li>
                                        <li>Costo de vida</li>
                                        <li>Diversión y descanso</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/housing.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Vivienda</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Su casa ideal de acuerdo a presupuesto y necesidades</li>                                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/management.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Administración del Hogar</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Pago de servicios</li>   
                                        <li>Renta</li>        
                                        <li>Mantenimiento y limpieza</li>        
                                        <li>Otros</li>                                             
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/visa.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Visas y Formalidades</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Asistencia legal para permisos y residencias</li>                                              
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/family.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Apoyo Familiar</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Escuelas</li>        
                                        <li>Guarderías</li>
                                        <li>Admisiones</li>   
                                        <li>Inscripciones</li>
                                        <li>Pagos</li>                                   
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li id="offer">
                            <!--WRAPPER LEFT---------------------------------------------------------------->
                            <div id="wrapper-left">
                                <div id="offer-image">
                                    <img src="~/Resources/Relocation/departure.jpg" alt="n/a"></img>
                                </div>
                            </div>
                            <!--WRAPPER MIDDLE-------------------------------------------------------------->
                            <div id="wrapper-middle">
                                <div id="offer-title">
                                    <h1>Regreso a Casa</h1>
                                </div>
                                <hr>
                                <div> 
                                    <ul id="offer-detail">
                                        <li>Finalizando</li>        
                                        <li>Terminación de contratos anticipadamente</li>
                                        <li>Depósitos</li>   
                                        <li>Cancelación de servicios</li>                                                                           
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--FOOTER SECTION-------------------------------------------------------------------------->
        @RenderPage("Footer.cshtml")
    </body>
</html>
