@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="Styles/SocialMedia.css">
    </head>
    <body>
        <div id="upper-container">
            <div class="social-media-container">
		        <ul class="social-list">
                    <li>
                         <a href="/Administrador">Administrador</a>
                    </li>
		            <li>
                        <a href="https://www.facebook.com/gingermartinandco" target="_blank">
                            <i class="icon-facebook"></i>
                            <img src="Resources/Social/facebook.jpg" alt="n/a" height=25 width=25>    
                        </a>
                    </li>
		        </ul>
	        </div>
        </div>        
    </body>
</html>
