@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }

    Page.Title = "Members Information";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="~/Styles/AdminPanelStyles.css">
        <title>RUASA - Administrador</title>       
    </head>
    <body>
        <!--HEADER SECTION-------------------------------------------------------------------------->
        @RenderPage("~/Members/HeaderAdmin.cshtml")   
        <div id="about-us">
            <div id="wrapper">
                <div id="container">
                    <a class="welcome-message">¡Bienvenido! Favor de seleccionar en el menú la opción deseada.</a>
                </div>
            </div>
        </div>
        
    </body>
</html>
