.footer-wrapper {
    margin-top: 2em;
    background-color: #687bd4;
    z-index: 150;
    font-family:    'Palatino Linotype';
}

#footer-left {
    margin-top: 0.5em;
    margin-left: 5%;
    float: left;
}

    #footer-left p {
        font-size: 0.8em;
        text-align: left;
        color: white;      
    }

#footer-right {
    margin-top: 0.5em;
    margin-right: 5%;
    float: right;
}

    #footer-right li {
        list-style-type: none;
	    margin: 0.5em;
    }
    
    #footer-right a {
        color: white;
    }

