body, html{
    margin:0;
    padding:0;
    font-family:    'Palatino Linotype'; 
}

/*ABOUT US SECTION-----------------------------------------------------------------------------------*/

#wrapper {
    width:          100%;
    overflow:       hidden;
}

#title {
    margin-top: 1em;
    margin-bottom: 1.5em;
    width:          100%;
    margin-top:     140px;
    text-align:     center;
}

#container {
    margin: 2em;
    margin-top: -20px;
    text-align:     center;  
}

#service-title {
    margin: 1em;
    text-align:     center;
    list-style:     none;   
}

#services ul{
    margin: 1em;
    text-align:     center;
    list-style:     none;
}

#lema h2 {
    width:          100%;
    margin: 1em;
    margin-bottom:  2em;
    text-align:     center;
}